[submodule "deps/aig-rs"]
	path = deps/aig-rs
	url = https://github.com/gipsyh/aig-rs.git
[submodule "deps/logic-form"]
	path = deps/logic-form
	url = https://github.com/gipsyh/logic-form.git
[submodule "deps/giputils"]
	path = deps/giputils
	url = https://github.com/gipsyh/giputils.git
[submodule "deps/satif"]
	path = deps/satif
	url = https://github.com/gipsyh/satif.git
[submodule "deps/abc-rs"]
	path = deps/abc-rs
	url = https://github.com/gipsyh/abc-rs.git
[submodule "deps/btor-rs"]
	path = deps/btor-rs
	url = https://github.com/gipsyh/btor-rs.git
[submodule "deps/cadical-rs"]
	path = deps/cadical-rs
	url = https://github.com/gipsyh/cadical-rs.git
[submodule "deps/kissat-rs"]
	path = deps/kissat-rs
	url = https://github.com/gipsyh/kissat-rs.git
[submodule "deps/minisat-rs"]
	path = deps/minisat-rs
	url = https://github.com/gipsyh/minisat-rs.git
